streamlit==1.37.0
python-docx==1.1.0
langchain==0.2.5
pypdf==4.1.0
docx2txt==0.8
unstructured==0.14.10
pytesseract==0.3.10
streamlit-lottie==0.0.5
ctransformers
langchain-openai==0.1.13
langchain_experimental
pymongo
langchain-community==0.2.7
sentence-transformers==2.6.1
sentencepiece==0.2.0
chromadb==0.5.3
requests>=2.32.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
