streamlit==1.32.2
python-docx==1.1.0
langchain==0.1.16
pypdf==4.1.0
docx2txt==0.8
unstructured==0.6.3
pytesseract==0.3.10
streamlit-lottie==0.0.5
ctransformers
langchain-openai==0.1.1
langchain_experimental
pymongo
langchain-community==0.0.34
sentence-transformers==2.6.1
sentencepiece==0.2.0
chromadb==0.4.24