streamlit==1.43.2
python-docx==1.1.2
langchain==0.3.24
pypdf==6.0.0
docx2txt==0.9
unstructured==0.14.10
pytesseract==0.3.13
streamlit-lottie==0.0.5
ctransformers
langchain-openai==1.0.0
langchain_experimental
pymongo
langchain-community==0.3.27
sentence-transformers==4.1.0
sentencepiece==0.2.0
chromadb==0.6.3
requests>=2.32.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
